@model ExamenFInal.Models.ProveedoresModel

<h1>Módulo Consulta de Productos</h1>
<hr />

<div class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Proveedor)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayNameFor(model => model.Direccion)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.telefono)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.correo)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EstadoProveedor)
    </dt>
</div>
<a asp-action="Index">Regresar</a>
