@model ExamenFInal.Models.ProductoModel

<h1>Módulo Consulta de Productos</h1>
<hr/>

<div class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IdProveedor)
    </dt>
    <dt class="col-sm-10">
        @Html.DisplayNameFor(model => model.cantidad)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Producto)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TipoProducto)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Descripcion)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Precio)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EstadoProducto)
    </dt>
</div>
<a asp-action="Index">Regresar</a>
